.app {
  background-color: black;
}
/* Width */
::-webkit-scrollbar{
  margin-top: 10px;
  width: 8px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  }
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* 

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
